* {
  margin: 0 auto;
  max-width: 1440px;
  scroll-behavior: smooth;
  outline: 1px solid #000; /*не забыть убрать*/
}
body{
  background-color: #E1D4C9;
  font-family: 'Inter', sans-serif;
  color: #403F3d;
}
  a, a:visited {
  color: inherit;
  text-decoration: none;
}

html ::-webkit-scrollbar {
  display: none;
}
.header-container{
  width: 100%;
  display: block;
}
.header-inner {
max-width: 1440px;
margin: 0 auto;
padding: 20px 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img{
  display: block;
}
.menu_list {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 40px;
}

.menu_link {
text-decoration: none;
}
.menu_link:hover{
  color: #B0907A;
}

.header-actions{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 20px;
width: auto;
height: auto;
}
.theme-switch{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #C1B6AD;
  background: transparent;
  border-radius: 100px;
  padding: 8px 16px;
  cursor: pointer;
}
.theme-switch img {
  display: block;
}
.moon {
gap: 20px;
}
.header-actions .menu {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;
}
  .menu img {
  display: block;
}

.hero {
  display: block;
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 644px;
  overflow: hidden;
}
.background-video{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: 1;
border-radius: 40px;
}
/*Контейнер для контента поверх видео */
.container-hero {
  width: 100%;
  position: relative;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
  box-sizing: border-box;
}
.hero-content{
  margin-left: 0 !important;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

h1 {
width: 530px;
height: 228px;

font-family: 'Inter';
font-style: nornal;
font-weight: 600;
font-size: 72px;
line-height: 76px;
color: #E1D4C9;
}
h1 span {
  font-style: italic;
  color: #B0907A;
}
.hero-text {

width: 530px;
height: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #E1D4C9;
}
.menu-button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 78px;
gap: 8px;
width: 200px;
height: 64px;
background: #E1D4C9;
border-radius: 100px;
width: 44px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #403F3D;
}
