* {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #E1D4C9;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  display: none;
}

.header-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap 20px;
width: 1440px;
height: 724px;
}


.logo {
margin: 0 auto;
width: 100px;
height: 60px;

}
.menu_list {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 20px;
width: auto;
height: auto;
}

.menu_link {
text-decoration: none;
}
.menu_link:hover{
  color: aqua;
}

